*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nostylingtext{
    text-decoration: none;
    text-transform: none;
    text-align: auto;
    color: black;
}

.btn-blue{
    background-color: #0F5085;
    color: #fff;
}

.btn-php{
    background-color: #808bb6;
    color: #000;
}

.btn-python{
    background-color: #3477ad;
    color: #ffd947;
}

.btn-mysql{
    background-color: #d88700;
    color: #005c83;
}

.btn-dark{
    background-color: #000;
    color: #fff;
}

.btn-ai{
    background-color: #f9fafb;
    color: #f783ac;
}

.btn-postgresql{
    background-color: #336791;
    color: #fff;
}

.title1, .title2{
    font-size: 50px;
}
#profilepic{
    filter: drop-shadow(20px 20px 0px #0F5085);
    margin-bottom: 25px;
}

form, .title2{
    color: white;
}

.rotate{
    transform: rotate(180deg);
}

.white{
    color: #fff;
}

i{
    color: #0F5085;
    font-size: x-large;
}

.blue{
    color: #0F5085;
}


.backBlue{
    background-color: #0F5085;
    margin-top: -1px;
}

.backWhite{
    background-color: #fff;
    margin-top: -1px;
}
.bold{
    font-weight: bolder;
}

.arrow{
    display: none;
    visibility: hidden;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.doubleheight
{
    width: 100%;
    height: 300vh;
}

.tripleheight
{
    width: 100%;
    height: 400vh;
}

.centeredbothways
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.appear-animation{
    /* An animation that makes a div fade in */
    animation: appear-animation 2s;
}

@keyframes appear-animation {
    /* The animation */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.spacer{
    padding-top: 500px;
    padding-bottom: 500px;
}

.text-green{
    color: #0F5085;
    font-weight: bold;
}