*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.title1, .title2{
    font-size: 50px;
}
#profilepic{
    filter: drop-shadow(20px 20px 0px #0F5085);
    margin-bottom: 25px;
}

form, .title2{
    color: white;
}

.rotate{
    transform: rotate(180deg);
}

.white{
    color: #fff;
}

i{
    color: #0F5085;
    font-size: x-large;
}

.blue{
    color: #0F5085;
}


.backBlue{
    background-color: #0F5085;
    margin-top: -1px;
}

.backWhite{
    background-color: #fff;
    margin-top: -1px;
}
.bold{
    font-weight: bolder;
}

.arrow{
    display: none;
    visibility: hidden;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.doubleheight
{
    width: 100%;
    height: 300vh;
}

.centeredbothways
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
