*{
    font-family: 'Karla', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.title1, .title2{
    font-size: 50px;
}

form, .title2{
    color: white;
}

i{
    color: #0F5085;
    font-size: x-large;
}

.blue{
    color: #0F5085;
}

.first_parent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
.second_parent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #0F5085;
}