.marginbottom{
    margin-bottom: 500px;
}

.margintop{
    margin-top: 0px;
}

.arrow{
    display: block;
    visibility: visible;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80vh;
}